<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project> 
<web-app id="idvalue0" metadata-complete="true" version="3.1"
	xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xml="http://www.w3.org/XML/1998/namespace"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd ">
	
	
</web-app>
